//header
@media (max-width: 768px) {
  .header {

    &-content {

    }

    &-burger {
      margin-right: 20px;
    }

    &-left {
    }
    &-item {
      width: 100px;
      font-size: 35px;
    }
    &-logo {
      font-size: 30px;
    }

    &-func {
    }
    &-sign {
      font-size: 30px;
    }
    &-search {
      font-size: 11px;
      width: 100px;
      margin-left: 10px;
    }
  }

  //reg
  .main-reg__content {
    padding-top: 100px;
  }
}

@media (max-width: 990px) {
  //main-main
  .main {
    &-content {
      padding-top: 140px;
    }
    &-about {
      justify-content: center;
    }

    &-info {
      &__title {
        text-align: center;
        font-size: 50px;
      }
      &__text {
        text-align: center;
        font-size: 22px;
      }
    }

    .main-picture {
      margin-bottom: 80px;
    }
  }
}

//page
@media (max-width: 767px) {
  .user {

    &-content {
      padding-top: 140px;
      display: flex;
      justify-content: center;
    }
    &-about {
      margin-bottom: 100px;
      margin-right: 20px;

    }
  }

  .post {
    &-content {

    }
    &-label {

    }
    &-title {
      font-size: 20px;
    }
    &-text {
    }
  }

  .card {
    &-content {
      padding: 15px;
    }
    &-title {
      font-size: 24px;
    }
    &-text {
      font-size: 17px;
    }
  }
}

//COM
@media (max-width: 767px) {
  .container {
    padding: 0px 10px;
  }

  .com {

    &-content {
      padding-top: 140px;
      justify-content: center;
    }
    &-seasons {

      margin-bottom: 100px;
    }
    &-season {
      font-size: 25px;
      width: 300px;
      height: 40px;

      border-radius: 20px;
      border: 2px solid #a5018c;
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
}


@media screen and (max-width: 990px){
  .char-content {
    display: flex;
    justify-content: center;
    padding-top: 150px;
  }
  .popup{
    width: 70%;
  }
}

@media (max-width: 767px) {
  .season {
    &-video {
      width: 345px;
      height: 280px;
    }
    &-content {
      padding-top: 140px;
    }
    &-panel {
      margin-top: 50px;
    }
    &-accord {
      font-size: 24px;
    }
  }
}