.char-content {
  padding-top: 200px;
  display: flex;
}

.b-container{
  border-radius: 20px;
  text-align: center;
  width:280px;
  height:230px;
  background-color: #ccc;
  padding:10px;
  font-size:25px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  transition: 0.6s;

  &:hover {
    transform: scale(1.1); // масштабирование
  }
}

.b-popup{
  width: 800px;
  min-height:200px;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(165, 1, 140, 1);

  overflow:hidden;
  position:relative;
  top: -200px;
  margin: 0 auto;
}
.b-popup .b-popup-content{
  padding:15px;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.chcard {
  display: inline-block;
  margin-right: 70px;

  &-title {
    font-size: 35px;
    background-color: rgba(210, 2, 179, 0.9);
    border-radius: 10px;
  }
  &-about {
    max-width: 300px;

  }
  &-name {
    font-size: 30px;
    padding-bottom: 10px;
  }
  &-text{
    max-width: 480px;
    font-size: 18px;
  }
  &-img {
    border-radius: 20px;
    max-width: 200px;
  }
  &-close {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 18px;
    color: #a5018c;
    font-weight: 700;
  }
}