.header {
  z-index: 50;
  background-color: black;

  //&:before  {
  //  content: '';
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  width: 100%;
  //  height: 100%;
  //  background-color: black;
  //}

  &-container {

  }

  &-content {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
    z-index: 2;
  }

  &-effect {
    &:after {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      bottom: 0px;
      width: 0;
      height: 2px; /* Высота линии */
      background-color: white; /* Цвет подчеркивания при исчезании линии*/
      transition: width 0.5s; /* Время эффекта */
    }
    &:hover:after {
      content: "";
      width: 100%;
      display: block;
      position: absolute;
      left: 0;
      bottom: 0px;
      height: 2px; /* Высота линии */
      background-color: rgb(148, 36, 179); /* Цвет подчеркивания при появлении линии*/
      transition: width 0.5s;  /* Время эффекта */
    }
  }

  &-left {
    display: flex;
    align-items: center;
  }

  &-nav {
  }

  &-logo {
    font-size: 35px;
    margin-right: 40px;
    color: #a5018c;
  }

  &-item {
    color: white;
    font-size: 25px;

    position: relative;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 35px;
    }
  }

  &-func {

  }

  &-sign {
    color: white;
    font-size: 25px;

    position: relative;
    cursor: pointer;
  }

  &-search {
    color: white;
    margin-left: 15px;
    font-size: 17px;
    background-color: rgba(28, 28, 28, 0);
    border: 1px solid white;
    border-radius: 50px;
    width: 150px;
    padding: 0.375rem 0.75rem;

    &::placeholder {
      color: #fff;
      opacity: 0.4;
    }
  }
}