
.user {
  &-content {
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &-about {
    max-width: 225px;
    text-align: center;
  }

  &-photo {
    max-width: 250px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 2px solid #a5018c;
  }

  &-name {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &-text {
    word-wrap: break-word;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 20px;
    border-bottom: 1.5px solid #a5018c;
  }

  &-date {
    font-size: 18px;
  }
}
