@charset "UTF-8";
@import url("https://fonts.cdnfonts.com/css/post-no-bills-colombo");
body {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  background-size: cover;
  font-family: Post No Bills Colombo, sans-serif;
  font-weight: 400;
  font-size: 14px; }

.wrapper {
  min-height: 100%;
  min-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.container {
  max-width: 1100px;
  padding: 0 30px;
  margin: 0 auto;
  background-color: #fff; }

.header {
  z-index: 50;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }
  .header-container {
    max-width: 1000px;
    padding: 0 10px;
    margin: 0 auto; }
  .header-content {
    height: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    z-index: 2; }
  .header-effect:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0px;
    width: 0;
    height: 2px;
    /* Высота линии */
    background-color: white;
    /* Цвет подчеркивания при исчезании линии*/
    -webkit-transition: width 0.5s;
    -o-transition: width 0.5s;
    transition: width 0.5s;
    /* Время эффекта */ }
  .header-effect:hover:after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0px;
    height: 2px;
    /* Высота линии */
    background-color: #9424b3;
    /* Цвет подчеркивания при появлении линии*/
    -webkit-transition: width 0.5s;
    -o-transition: width 0.5s;
    transition: width 0.5s;
    /* Время эффекта */ }
  .header-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header-logo {
    font-size: 35px;
    margin-right: 40px;
    color: #a5018c; }
  .header-item {
    color: white;
    font-size: 25px;
    position: relative;
    cursor: pointer; }
    .header-item:not(:last-child) {
      margin-right: 35px; }
  .header-sign {
    color: white;
    font-size: 30px;
    position: relative;
    cursor: pointer; }
  .header .header-logout {
    display: none;
    position: absolute;
    right: 0;
    background-color: #181818;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1; }
    .header .header-logout a {
      font-size: 21px;
      font-weight: 600;
      color: white;
      padding: 0;
      text-decoration: none;
      display: block;
      text-align: center;
      padding: 10px 10px 10px 10px; }
      .header .header-logout a:hover {
        color: #a5018c; }

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.main-content {
  padding-top: 200px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.main-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse; }

.main-info {
  max-width: 650px; }
  .main-info__title {
    vertical-align: top;
    font-size: 60px;
    background: -webkit-gradient(linear, left top, right top, from(#000000), color-stop(#a5018c), to(#a5018c));
    background: -webkit-linear-gradient(left, #000000, #a5018c, #a5018c);
    background: -o-linear-gradient(left, #000000, #a5018c, #a5018c);
    background: linear-gradient(90deg, #000000, #a5018c, #a5018c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349; }
  .main-info__text {
    font-size: 28px; }

.main-picture {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 320px;
  height: 320px;
  border: 3px solid black;
  font-size: 60px; }
  .main-picture__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 200px;
    border-bottom: 3px solid black; }

.footer {
  background-color: black; }
  .footer-container {
    max-width: 1000px;
    padding: 0 10px;
    margin: 0 auto; }
  .footer-content {
    height: 112px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white; }
  .footer-text {
    font-size: 20px;
    margin-right: 10px; }
  .footer-title {
    font-size: 22px;
    padding: 3px;
    border: 1px solid white;
    border-radius: 10px; }
    .footer-title__pink {
      color: #a5018c; }

.header-burger {
  display: none; }

@media (max-width: 768px) {
  .header-burger {
    display: block;
    position: relative;
    z-index: 3;
    width: 30px;
    height: 20px; }
    .header-burger:before, .header-burger:after {
      content: '';
      background-color: white;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .header-burger:before {
      top: 0; }
    .header-burger span {
      position: absolute;
      background-color: white;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .header-burger:after {
      bottom: 0; }
    .header-burger.active:before {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 9px; }
    .header-burger.active:after {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      bottom: 9px; }
    .header-burger.active span {
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0); }
  .header-nav {
    position: fixed;
    z-index: 2;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: black;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    padding: 120px 0px 0px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .header-nav.active {
      left: 0; }
  .header-item:not(:last-child) {
    margin-bottom: 35px; } }

.season-title {
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 80px;
  border-top: 2px dashed #a5018c; }

.season-video {
  width: 500px;
  height: 315px; }

.season-content {
  padding-top: 200px; }

.season-opp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.season-res {
  margin: 0 30px 50px 30px; }

.season-accord {
  padding: 5px 0;
  max-width: 600px;
  font-size: 29px;
  color: black;
  border: 1px solid #a5018c;
  border-radius: 20px; }

.season .active, .season .accord:hover {
  background-color: #ccc; }

.season-name {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px; }

.season-panel {
  margin-top: 100px;
  display: none;
  overflow: hidden; }

.char-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 200px; }

.popup-content {
  width: 300px;
  height: 250px;
  margin-bottom: 50px; }

.box {
  width: 300px;
  height: 250px;
  border: 2px solid #a5018c;
  border-radius: 20px;
  background-clip: padding-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover; }

.button {
  font-size: 30px;
  font-weight: 600;
  padding: 5px;
  color: black;
  border: 2px solid #a5018c;
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background: #e7dbdb; }

.overlay {
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0; }

.overlay:target {
  visibility: visible;
  opacity: 1; }

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  -webkit-transition: all 3s ease-in-out;
  -o-transition: all 3s ease-in-out;
  transition: all 3s ease-in-out; }

.popup-name {
  font-size: 30px; }

.popup .close {
  position: absolute;
  top: 5px;
  right: 15px;
  -webkit-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333; }

.popup .close:hover {
  color: #a5018c; }

.popup .content {
  max-height: 30%;
  overflow: auto; }

.com-content {
  padding-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.com-seasons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.com-season {
  font-size: 25px;
  width: 250px;
  height: 45px;
  border-radius: 20px;
  border: 2px solid #a5018c; }
  .com-season:not(:last-child) {
    margin-bottom: 50px; }

.main-reg__content {
  padding-top: 150px; }

.reg {
  width: 275px;
  margin: 0 auto;
  font-weight: 600; }
  .reg-err {
    padding-bottom: 20px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 900;
    color: #d03d3d; }
  .reg-name {
    margin-bottom: 25px; }
    .reg-name__label {
      font-size: 17px;
      padding-bottom: 10px; }
    .reg-name__input {
      color: black;
      font-size: 17px;
      background-color: white;
      border: 2px solid black;
      border-radius: 10px;
      width: 275px;
      height: 39px;
      padding: 0.375rem 0.75rem; }
  .reg-email {
    margin-bottom: 25px; }
    .reg-email__label {
      font-size: 17px;
      padding-bottom: 10px; }
    .reg-email__input {
      color: black;
      font-size: 17px;
      background-color: white;
      border: 2px solid black;
      border-radius: 10px;
      width: 275px;
      height: 39px;
      padding: 0.375rem 0.75rem; }
    .reg-email__help {
      display: none; }
  .reg-about {
    margin-bottom: 40px; }
    .reg-about__label {
      font-size: 17px;
      padding-bottom: 10px; }
    .reg-about__input {
      resize: vertical;
      color: black;
      font-size: 17px;
      background-color: white;
      border: 2px solid black;
      border-radius: 10px;
      width: 275px;
      max-height: 400px;
      min-height: 65px;
      padding: 0.375rem 0.75rem; }
  .reg-password {
    margin-bottom: 15px; }
    .reg-password__label {
      font-size: 17px;
      padding-bottom: 10px; }
    .reg-password__input {
      color: black;
      font-size: 17px;
      background-color: white;
      border: 2px solid black;
      border-radius: 10px;
      width: 275px;
      height: 39px;
      padding: 0.375rem 0.75rem; }
    .reg-password__help {
      display: none; }
  .reg .reg-button {
    background-color: #fff;
    padding: 0.375rem 0.75rem;
    border-radius: 10px;
    border: 2px solid black;
    margin-right: 50px;
    margin-top: 30px; }
  .reg .reg-registration {
    margin-top: 30px;
    font-size: 20px;
    border-bottom: 2px solid black;
    color: black;
    /* Цвет  текста */
    font-size: 18px;
    /* Размер  текста */
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .reg .reg-registration:hover {
      color: #9424b3;
      /* Меняем цвет текста */
      -webkit-text-shadow: 1px 1px 1px #000;
      -moz-text-shadow: 1px 1px 1px #000;
      text-shadow: 1px 1px 1px #000;
      border-bottom: 2px solid #9424b3; }

.user-content {
  padding-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.user-about {
  width: 225px;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 200px;
  left: 0px; }

.user-photo {
  max-width: 250px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 2px solid #a5018c; }

.user-name {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 10px; }

.user-text {
  word-wrap: break-word;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 20px;
  border-bottom: 1.5px solid #a5018c; }

.user-date {
  font-size: 18px; }

.blog-title {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px; }

.stop {
  position: relative;
  z-index: 101; }

.post-publish {
  max-height: 850px;
  max-width: 450px;
  border: 2px solid #a5018c;
  border-radius: 20px;
  margin-bottom: 150px; }

.post-content {
  padding: 15px; }

.post-err {
  font-size: 25px;
  padding: 15px 0 0 15px;
  color: red; }

.post-label {
  font-size: 30px;
  margin-bottom: 20px; }

.post-title {
  resize: vertical;
  color: black;
  font-size: 22px;
  font-weight: 600;
  background-color: white;
  border: 1px dashed #a5018c;
  border-radius: 10px;
  width: 100%;
  max-height: 150px;
  min-height: 45px;
  padding: 0.375rem 0.75rem;
  margin-bottom: 10px; }

.post-text {
  resize: vertical;
  color: black;
  font-size: 18px;
  font-weight: 600;
  background-color: white;
  border: 1px dashed #a5018c;
  border-radius: 10px;
  width: 100%;
  max-height: 250px;
  min-height: 125px;
  padding: 0.375rem 0.75rem;
  margin-bottom: 30px; }

.post-hs {
  font-size: 20px;
  font-weight: 400;
  position: relative;
  margin-bottom: 10px;
  border: 2px solid #a5018c;
  border-radius: 20px;
  padding: 3px 25px; }

.post-button {
  font-size: 20px;
  font-weight: 400;
  position: relative;
  float: right;
  border: 2px solid #a5018c;
  border-radius: 20px;
  padding: 3px 25px; }
  .post-button:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 42px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
  .post-button:hover:before {
    width: 100%; }

.post-none {
  text-align: center;
  padding-top: 20px;
  font-size: 25px; }

.card {
  max-width: 450px;
  border: 2px solid #a5018c;
  border-radius: 20px;
  margin-bottom: 50px; }
  .card-content {
    padding: 20px; }
  .card-title {
    font-size: 30px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 25px; }
  .card-text {
    display: block;
    font-size: 19px;
    border-bottom: 1px solid #a5018c;
    padding-bottom: 10px;
    word-break: break-all; }
  .card-second {
    padding-top: 35px;
    padding-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .card-date {
    font-size: 17px; }
  .card-season {
    font-size: 17px; }
  .card-author {
    font-size: 18px;
    padding: 3px 14px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 15px; }

@media (max-width: 768px) {
  .header-burger {
    margin-right: 20px; }
  .header-item {
    width: 100px;
    font-size: 35px; }
  .header-logo {
    font-size: 30px; }
  .header-sign {
    font-size: 30px; }
  .header-search {
    font-size: 11px;
    width: 100px;
    margin-left: 10px; }
  .main-reg__content {
    padding-top: 100px; } }

@media (max-width: 990px) {
  .main-content {
    padding-top: 140px; }
  .main-about {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .main-info__title {
    text-align: center;
    font-size: 50px; }
  .main-info__text {
    text-align: center;
    font-size: 22px; }
  .main .main-picture {
    margin-bottom: 80px; } }

@media (max-width: 767px) {
  .user-content {
    padding-top: 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .user-about {
    margin-bottom: 100px;
    margin-right: 20px; }
  .post-title {
    font-size: 20px; }
  .card-content {
    padding: 15px; }
  .card-title {
    font-size: 24px; }
  .card-text {
    font-size: 17px; } }

@media (max-width: 767px) {
  .container {
    padding: 0px 10px; }
  .com-content {
    padding-top: 140px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .com-seasons {
    margin-bottom: 100px; }
  .com-season {
    font-size: 25px;
    width: 300px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #a5018c; }
    .com-season:not(:last-child) {
      margin-bottom: 30px; } }

@media screen and (max-width: 990px) {
  .char-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 150px; }
  .popup {
    width: 70%; } }

@media (max-width: 767px) {
  .season-video {
    width: 345px;
    height: 280px; }
  .season-content {
    padding-top: 140px; }
  .season-panel {
    margin-top: 50px; }
  .season-accord {
    font-size: 24px; } }
